<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="200" padding="100px" alt="Angular Logo" src="./assets/logo.png">
</div>
<!--<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>-->

<hr><br>


<ul>
  <li>

      <table>
        <tr>
          <th>Personas</th>
        </tr>
          <tr>
            <td *ngFor="let item of items | async ">{{item.nombre}}</td>
          </tr>
          <tr>
            <td *ngFor="let item of items | async ">{{item.telefono}}</td>
          </tr>
          <tr>
            <td *ngFor="let item of items | async ">{{item.direccion}}</td>
            </tr>
        </table>
    

</li>
</ul>




<section>
  <h2>{{title_section}}</h2>


  {{html}}


  <ul>
    <li><a href="">Home</a></li>
    <li><a href="">Next</a></li>
    <li><a href="">Contactenos</a></li>
    
  </ul>

  






</section>

  

  



<router-outlet></router-outlet>
